[language-server.basedpyright]
command = "uvx"
args = ["--from", "basedpyright", "basedpyright-langserver", "--stdio"]

[language-server.guile-lsp-server]
command = "guix"
args = ["shell", "guile-lsp-server", "--", "guile-lsp-server", "--stdio"]

[language-server.harper]
command = "harper-ls"
args = ["--stdio"]

[language-server.just]
command = "just-lsp"

[language-server.pylsp]
command = "uvx"
args = ["--from", "python-lsp-server", "pylsp"]

[language-server.ruff]
command = "uvx"
args = ["ruff", "server"]

[language-server.rust-analyzer.config]
check.workspace = false

[[language]]
name = "scheme"
language-servers = ["guile-lsp-server"]

[[language]]
name = "just"
language-servers = [ "just" ]

[[language]]
name = "markdown"
rulers = [80, 120]

[[language]]
name = "ocaml"
auto-format = true
formatter = { command = "ocamlformat", args = ["--impl", "-"] }

[[language]]
name = "python"
auto-format = true
language-servers = ["ruff", "pylsp", "basedpyright"]
