[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
	branch = master
[submodule "vim/bundle/vim-signature"]
	path = vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
	branch = master
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
	branch = master
[submodule "vim/bundle/vim-autotags"]
	path = vim/bundle/vim-autotags
	url = https://github.com/basilgor/vim-autotags.git
	branch = master
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "vim/bundle/vim-gnupg"]
	path = vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
	branch = master
[submodule "vim/bundle/riv"]
	path = vim/bundle/riv
	url = https://github.com/Rykka/riv.vim
	branch = master
[submodule "vim/bundle/vim-asciidoc"]
	path = vim/bundle/vim-asciidoc
	url = https://github.com/romanvbabenko/vim-asciidoc
	branch = master
[submodule "zsh/scripts/google-translate-cli"]
	path = zsh/scripts/google-translate-cli
	url = https://github.com/soimort/google-translate-cli.git
	branch = master
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/genoma/vim-less
	branch = master
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
	branch = master
[submodule "vim/bundle/vim-velocity"]
	path = vim/bundle/vim-velocity
	url = https://github.com/lepture/vim-velocity.git
	branch = master
[submodule "vim/bundle/vim-characterize"]
	path = vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
	branch = master
[submodule "vim/bundle/clickable"]
	path = vim/bundle/clickable
	url = https://github.com/Rykka/clickable.vim.git
	branch = master
[submodule "vim/bundle/os"]
	path = vim/bundle/os
	url = https://github.com/Rykka/os.vim.git
	branch = master
[submodule "irssi/scripts/scripts.irssi.org"]
	path = irssi/scripts/scripts.irssi.org
	url = https://github.com/irssi/scripts.irssi.org.git
	branch = gh-pages
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "vim/bundle/vim-tmux"]
	path = vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
	branch = master
[submodule "vim/bundle/vim-tcpdump"]
	path = vim/bundle/vim-tcpdump
	url = https://github.com/1995parham/vim-tcpdump.git
	branch = master
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm.git
	branch = master
[submodule "docker/docker-cleanup-volumes"]
	path = docker/docker-cleanup-volumes
	url = https://github.com/chadoe/docker-cleanup-volumes.git
	branch = master
[submodule "vim/bundle/tern"]
	path = vim/bundle/tern
	url = https://github.com/marijnh/tern_for_vim.git
	branch = master
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "irssi/scripts/irssi-powerline"]
	path = irssi/scripts/irssi-powerline
	url = https://github.com/darac/irssi-powerline.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-visual-star-search"]
	path = vim/bundle/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-jsdoc"]
	path = vim/bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
