[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/bundle/vim-signature"]
	path = vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/vim-autotags"]
	path = vim/bundle/vim-autotags
	url = https://github.com/basilgor/vim-autotags.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-gnupg"]
	path = vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "vim/bundle/riv"]
	path = vim/bundle/riv
	url = https://github.com/Rykka/riv.vim
[submodule "vim/bundle/vim-asciidoc"]
	path = vim/bundle/vim-asciidoc
	url = https://github.com/romanvbabenko/vim-asciidoc
[submodule "zsh/scripts/google-translate-cli"]
	path = zsh/scripts/google-translate-cli
	url = git@github.com:soimort/google-translate-cli.git
[submodule "mutt/carddav/pycarddav"]
	path = mutt/carddav/pycarddav
	url = git@github.com:geier/pycarddav.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/genoma/vim-less
