###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/fr-FR/2015.json
###############################################################################

holiday.2024.newyear.name=Jour de l'an
holiday.2024.newyear.date=01012024
holiday.2024.easter.name=Lundi de Pâques
holiday.2024.easter.date=01042024
holiday.2024.workday.name=Fête du premier mai
holiday.2024.workday.date=01052024
holiday.2024.armistice1945.name=Armistice 1945
holiday.2024.armistice1945.date=08052024
holiday.2024.ascension.name=Ascension
holiday.2024.ascension.date=09052024
holiday.2024.pentecost.name=Pentecôte
holiday.2024.pentecost.date=19052024
holiday.2024.nationalday.name=Fête nationale
holiday.2024.nationalday.date=14072024
holiday.2024.assumption.name=Assomption
holiday.2024.assumption.date=15082024
holiday.2024.allsaintsday.name=Toussaint
holiday.2024.allsaintsday.date=01112024
holiday.2024.armistice1918.name=Armistice 1918
holiday.2024.armistice1918.date=11112024
holiday.2024.christmas.name=Noël
holiday.2024.christmas.date=25122024

holiday.2025.newyear.name=Jour de l'an
holiday.2025.newyear.date=01012025
holiday.2025.easter.name=Lundi de Pâques
holiday.2025.easter.date=21042025
holiday.2025.workday.name=Fête du premier mai
holiday.2025.workday.date=01052025
holiday.2025.armistice1945.name=Armistice 1945
holiday.2025.armistice1945.date=08052025
holiday.2025.ascension.name=Ascension
holiday.2025.ascension.date=29052025
holiday.2025.pentecost.name=Pentecôte
holiday.2025.pentecost.date=08062025
holiday.2025.nationalday.name=Fête nationale
holiday.2025.nationalday.date=14072025
holiday.2025.assumption.name=Assomption
holiday.2025.assumption.date=15082025
holiday.2025.allsaintsday.name=Toussaint
holiday.2025.allsaintsday.date=01112025
holiday.2025.armistice1918.name=Armistice 1918
holiday.2025.armistice1918.date=11112025
holiday.2025.christmas.name=Noël
holiday.2025.christmas.date=25122025
