set my_account_host="example.com"
set my_account_login="me@$my_account_host"
set my_account_pass="mypassword"

set imap_authenticators="login"
set imap_passive="no"
set ssl_starttls="yes"
set imap_user="$my_account_login"
set imap_pass="$my_account_pass"
set folder="imaps://$my_account_login@imap.$my_account_host:993/"
set spoolfile="+INBOX"
set postponed="+Drafts"
set record="+Sent"

set smtp_url="smtp://$my_account_login@smtp.$my_account_host:587/"
set smtp_pass="$my_account_pass"
set from="$my_account_login"
set hostname="$my_account_host"

unmailboxes *
mailboxes "+INBOX" "+Sent" "+Drafts"

source "$my_mutt/filters/muttrc.filters.example"
set signature="$my_mutt/signatures/example.sgn"
