[Desktop Entry]
Name=Skype
Name[af]=Skype
Name[an]=Skype
Name[ar]=Skype
Name[as]=Skype
Name[ast]=Skype
Name[be]=Skype
Name[be@latin]=Skype
Name[bg]=Skype
Name[bn]=Skype
Name[bn_IN]=Skype
Name[br]=Skype
Name[ca]=Skype
Name[ca@valencia]=Skype
Name[cs]=Skype
Name[cy]=Skype
Name[da]=Skype
Name[de]=Skype
Name[dz]=Skype
Name[el]=Skype
Name[en@shaw]=Skype
Name[en_CA]=Skype
Name[en_GB]=Skype
Name[eo]=Skype
Name[es]=Skype
Name[et]=Skype
Name[eu]=Skype
Name[fa]=Skype
Name[fi]=Skype
Name[fr]=Skype
Name[fur]=Skype
Name[ga]=Skype
Name[gd]=Skype
Name[gl]=Skype
Name[gu]=Skype
Name[he]=Skype
Name[hi]=Skype
Name[hu]=Skype
Name[id]=Skype
Name[it]=Skype
Name[ja]=Skype
Name[ka]=Skype
Name[kk]=Skype
Name[km]=Skype
Name[kn]=Skype
Name[ko]=Skype
Name[ks]=Skype
Name[ku]=Skype
Name[lt]=Skype
Name[lv]=Skype
Name[mai]=Skype
Name[mg]=Skype
Name[mk]=Skype
Name[ml]=Skype
Name[mn]=Skype
Name[mr]=Skype
Name[ms]=Skype
Name[my]=Skype
Name[nb]=Skype
Name[nds]=Skype
Name[ne]=Skype
Name[nl]=Skype
Name[nn]=Skype
Name[oc]=Skype
Name[or]=Skype
Name[pa]=Skype
Name[pl]=Skype
Name[ps]=Skype
Name[pt]=Skype
Name[pt_BR]=Skype
Name[ro]=Skype
Name[ru]=Skype
Name[si]=Skype
Name[sk]=Skype
Name[sl]=Skype
Name[sq]=Skype
Name[sr]=Skype
Name[sr@latin]=Skype
Name[sv]=Skype
Name[ta]=Skype
Name[te]=Skype
Name[tg]=Skype
Name[th]=Skype
Name[tr]=Skype
Name[ug]=Skype
Name[uk]=Skype
Name[vi]=Skype
Name[wa]=Skype
Name[zh_CN]=Skype
Name[zh_HK]=Skype
Name[zh_TW]=Skype
Name[zu]=Skype
TryExec=skype
Exec=skype
StartupNotify=true
Terminal=false
Type=Application
Icon=skype
